mixin searchresult (substance)
    div(class="searchresult")
        section(class="align-vertically")
            section(class="searchresult-header align-horizontally")
                a(href= substance.source.url)= substance.source.url
            details(class="searchresult-details")
                summary(class="align-vertically")
                    section(class="align-horizontally align-space-between")
                        section(class="align-vertically")
                            section(class="align-horizontally gap-4")
                                span= "Source: " + substance.source.name
                                span= "Name: " + substance.names[0]
                                span= "Formula: " + substance.formula
                            span= "SMILES: " + substance.smiles
                        section(class="align-vertically")
                            svg(class="" width="20" height="20" fill="currentColor")
                                use(xlink:href="/icons/bootstrap-icons.svg#caret-down")
                    hr
                section(class="align-vertically")
                    section(class="align-horizontally")
                        section(class="align-vertically")
                            span= "Molecular mass: " + substance.molecular_mass
                            span= "CAS Number: " + substance.cas_num
                            span= "Inchi key:" + substance.inchi_key
                        hr
                        section(class="align-vertically")
                            ul= "Names:"
                                each name in substance.names
                                    li= name
                                each iupac_name in substance.iupac_names
                                    li= iupac_name
                    span= substance.inchi